
$primary-color: #ffe600;
$secondary-color: #3483fa;
$light-grey: #eeeeee;
$medium-grey: #999999;
$dark-grey: #333333;
$border-radius: 4px;
$column-width: 80px;
$margin: 10px;
$column-total: $column-width +($margin * 2);
$columns: 12;
$fall-back-font: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
$base-margin: 16px;
// CLASSES SHOULD BE DECLARED AFTER VARIABLES, ALSO MIXINS AND OTHER KIND OF OPERATORS


@import 'classes';
@import 'mixins';