

// Should it be responsive?
$responsive:true;

// Set container width relative to user variables
$width: ($column-width * $columns) + (  $columns * ($margen * 2) );

// Set Base Container
.container{
// Set container width if responsive
@if $responsive == true {
	max-width:1240px;
	width:100%;
	left:0;
}
@else {
	width:$width;
}

  position:relative;
}

// Define Individual Grid Classes
@for $i from 1 to ($columns + 1) {
	// Calculate grid size in pixels
	

	$grid: ( ($margen*2 + $column-width) * $i) ;
	
	// Calculate responsive grid sizes if required
	@if $responsive == true {
		// Calculate grid size in pixels
		$grid: ($grid / $width) * 100%;

		// Get margin Percentage for Grids
		$margen-percentage: ( $margen * 100%) / $width;

		.box-#{$i} {
			width: $grid;
      float: left;
      margin: $margen-percentage;
		}
	}
	@else{
		$grid: $grid;
		.box-#{$i}
			{
			width: $grid;
			float: left;

			}
	}
}

