@import '../../styles/commons.scss';
.item-detail-result{
  @extend %blank-container;
  padding: ($base-margin * 2) ;
}

.item-result-specs{
  display: flex;
  flex-direction: row;
  .item-image-container{
    width: $column-total * 7;
    img{
      width: 100%;
      max-width: 680px;
      position: relative;
      border-radius: 4px;
    }
  }
}

.item-result-container{
  width: $column-total * 3;
  padding: 2px 0 0 $margin;
  .item-result-text{
    width: $column-total * 2;
    display: block;
    > p,span,h2{
      @include reset-line-height(70%);
      display: block;
    }
    h1{
      @include reset-line-height(1.3em);
      word-wrap: break-word;
      font-size: 18px;
      font-weight: bold;
      
    }
    .most-selled-element{
      font-size: 14px;
      margin-bottom: $base-margin;
      font-weight: normal;
    }

  }
  .price-element{
    margin: $base-margin * 2 auto;
    span{
      font-size: 46px;
      sup{
        font-size: 0.5em;
      }
    }
  }
  .item-button-action{
    width: 100%;
    background-color: $secondary-color;
    color: #ffffff;
    border-radius: $border-radius;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
  }
}
.item-detail-description{
  width: $column-total * 7;
  margin: ($base-margin * 2) 0;
  h3{
    @include reset-line-height(70%);
    font-size: 28px;
    
    margin-bottom: $base-margin * 2;
  }
  p{
    font-size: 16px;
    @include reset-line-height(1.5em);
    color: $medium-grey;
    font-weight: normal;
  }
}