@import '../../../styles/commons.scss';
.search-result-element{
  width: 100%;
  display: flex;
  flex-flow: row;
  .img-elem-wrapper{
    width: $column-total * 2;
    margin: 16px;
    img{
      width: 180px;
      height: 180px;
      position: relative;
      border-radius: 4px;

    }
  }
  .text-elem-wrapper{
    width: $column-total * 8;
    .location-elem-wrapper{
      display: flex;
      flex-flow: row;
      align-items: baseline;
      margin: 35px 0  ($base-margin * 2)  0;
      line-height: 0;
      h3{
        width: $column-total * 6;
        font-size: 24px;
        line-height: 70%;
      }
      .location-descp{
        font-size: 12px;
        color: $medium-grey;
      }
      
      .free-shipping-icon{
        width: 20px;
        height: 20px;
        background-position: 0 0;
        background-size: contain; 
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: top;
      }
    }
    .description-elem{
      margin: 0;
      width: $column-total * 4;
    }
  }

}