@import './variables.scss';

*{
  box-sizing: border-box;
}

body,html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color:  $light-grey;
  font-family: $fall-back-font;
}

.container{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.wrapper{
  width: 100%;
  max-width: $column-total * 10;
}

